policy_module(codex, 1.0.0)

gen_require(`
    attribute userns_privileged_file_type;
    attribute userns_privileged_domain;
    role unconfined_r;
    type unconfined_t;
')

type codex_t;
type codex_exec_t;

application_domain(codex_t, codex_exec_t)
unconfined_domain(codex_t)

role unconfined_r types codex_t;

domtrans_pattern(unconfined_t, codex_exec_t, codex_t)
can_exec(codex_t, codex_exec_t)
allow unconfined_t codex_t:process2 { nnp_transition nosuid_transition };

typeattribute codex_t userns_privileged_domain;
typeattribute codex_exec_t userns_privileged_file_type;
allow codex_t self:user_namespace create;
